body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-section {
        margin: 20px;
    }
    main {
        display: flex;
		
		justify-content: center;
        & div {
            margin: 5px 0;
        }
        .data-container {
            position: relative;
          width: 250px;
            padding: 10px;
            border: 1px solid black;
            margin: 5px;
            display: flex;
            flex-direction: column;
			overflow-wrap: break-word;
			box-sizing: border-box;
            .clip {
                & img {
                   width: 100%; 
                }
            }
            h2 {
                position: absolute;
                top: 20px;
                left: 0;
                background: green;
                color: white;
                text-decoration: underline;
                display: flex;
                justify-content: center;
                width: 100%;
				text-align: center;
				font-size: 1rem;
			}
			span {
				margin: 10px 0;
			}
		}
		
    }
}
